# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [1]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path, index_col = "City_ID",encoding='utf-8-sig')

# Display sample data
city_data_df.head(10)

NameError: name 'pd' is not defined

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [15]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature, in F, you would put up with for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature, in F, you would put up with for your trip? "))

What is the minimum temperature, in F, you would put up with for your trip? 65
What is the maximum temperature, in F, you would put up with for your trip? 75

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [16]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
City_ID,,,,,,,,,
4,Saint George,US,37.1041,-113.5841,70.952,20,0,2.06,clear sky
9,Cap Malheureux,MU,-19.9842,57.6142,73.472,68,100,2.24,overcast clouds
25,Mobaye,CF,4.3190,21.1786,71.114,93,79,1.25,light rain
28,Vihari,PK,30.0333,72.3500,73.058,26,0,1.34,clear sky
36,Cidreira,BR,-30.1811,-50.2056,70.898,95,100,2.24,heavy intensity rain
41,Santo Antonio De Jesus,BR,-12.9689,-39.2614,73.328,89,19,3.31,few clouds
44,Saint Anthony,US,45.0205,-93.2180,66.938,46,0,1.54,clear sky
48,Gat,IL,31.6100,34.7642,72.284,100,2,2.04,clear sky
52,Ponta Do Sol,PT,32.6667,-17.1000,72.716,87,95,2.14,overcast clouds
53,Greece,US,43.2098,-77.6931,66.884,54,75,2.06,broken clouds

In [17]:
len(preferred_cities_df)

132

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [18]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(axis = 0, how = 'any')

# Display sample data
clean_travel_cities.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
City_ID,,,,,,,,,
4,Saint George,US,37.1041,-113.5841,70.952,20,0,2.06,clear sky
9,Cap Malheureux,MU,-19.9842,57.6142,73.472,68,100,2.24,overcast clouds
25,Mobaye,CF,4.3190,21.1786,71.114,93,79,1.25,light rain
28,Vihari,PK,30.0333,72.3500,73.058,26,0,1.34,clear sky
36,Cidreira,BR,-30.1811,-50.2056,70.898,95,100,2.24,heavy intensity rain
41,Santo Antonio De Jesus,BR,-12.9689,-39.2614,73.328,89,19,3.31,few clouds
44,Saint Anthony,US,45.0205,-93.2180,66.938,46,0,1.54,clear sky
48,Gat,IL,31.6100,34.7642,72.284,100,2,2.04,clear sky
52,Ponta Do Sol,PT,32.6667,-17.1000,72.716,87,95,2.14,overcast clouds
53,Greece,US,43.2098,-77.6931,66.884,54,75,2.06,broken clouds

In [19]:
len(clean_travel_cities)

128

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [20]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
City_ID,,,,,,
4,Saint George,US,70.952,clear sky,37.1041,-113.5841
9,Cap Malheureux,MU,73.472,overcast clouds,-19.9842,57.6142
25,Mobaye,CF,71.114,light rain,4.3190,21.1786
28,Vihari,PK,73.058,clear sky,30.0333,72.3500
36,Cidreira,BR,70.898,heavy intensity rain,-30.1811,-50.2056
41,Santo Antonio De Jesus,BR,73.328,few clouds,-12.9689,-39.2614
44,Saint Anthony,US,66.938,clear sky,45.0205,-93.2180
48,Gat,IL,72.284,clear sky,31.6100,34.7642
52,Ponta Do Sol,PT,72.716,overcast clouds,32.6667,-17.1000
53,Greece,US,66.884,broken clouds,43.2098,-77.6931

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [23]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df['Hotel Name'] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
4,Saint George,US,70.952,clear sky,37.1041,-113.5841,
9,Cap Malheureux,MU,73.472,overcast clouds,-19.9842,57.6142,
25,Mobaye,CF,71.114,light rain,4.3190,21.1786,
28,Vihari,PK,73.058,clear sky,30.0333,72.3500,
36,Cidreira,BR,70.898,heavy intensity rain,-30.1811,-50.2056,
41,Santo Antonio De Jesus,BR,73.328,few clouds,-12.9689,-39.2614,
44,Saint Anthony,US,66.938,clear sky,45.0205,-93.2180,
48,Gat,IL,72.284,clear sky,31.6100,34.7642,
52,Ponta Do Sol,PT,72.716,overcast clouds,32.6667,-17.1000,
53,Greece,US,66.884,broken clouds,43.2098,-77.6931,

In [28]:
hotel_df.count()

City                   128
Country                128
Max Temp               128
Current Description    128
Lat                    128
Lng                    128
Hotel Name             128
dtype: int64

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [26]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [27]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
4,Saint George,US,70.952,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
9,Cap Malheureux,MU,73.472,overcast clouds,-19.9842,57.6142,Pereybere Hotel & Spa
25,Mobaye,CF,71.114,light rain,4.3190,21.1786,
28,Vihari,PK,73.058,clear sky,30.0333,72.3500,Al Shafi
36,Cidreira,BR,70.898,heavy intensity rain,-30.1811,-50.2056,Hotel Castelo
41,Santo Antonio De Jesus,BR,73.328,few clouds,-12.9689,-39.2614,5C Hotel - Feito para Você
44,Saint Anthony,US,66.938,clear sky,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
48,Gat,IL,72.284,clear sky,31.6100,34.7642,OlusHome
52,Ponta Do Sol,PT,72.716,overcast clouds,32.6667,-17.1000,Hotel do Campo
53,Greece,US,66.884,broken clouds,43.2098,-77.6931,"Homewood Suites by Hilton Rochester/Greece, NY"

In [32]:
len(hotel_df)

128

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [53]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
4,Saint George,US,70.952,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
9,Cap Malheureux,MU,73.472,overcast clouds,-19.9842,57.6142,Pereybere Hotel & Spa
28,Vihari,PK,73.058,clear sky,30.0333,72.3500,Al Shafi
36,Cidreira,BR,70.898,heavy intensity rain,-30.1811,-50.2056,Hotel Castelo
41,Santo Antonio De Jesus,BR,73.328,few clouds,-12.9689,-39.2614,5C Hotel - Feito para Você
44,Saint Anthony,US,66.938,clear sky,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
48,Gat,IL,72.284,clear sky,31.6100,34.7642,OlusHome
52,Ponta Do Sol,PT,72.716,overcast clouds,32.6667,-17.1000,Hotel do Campo
53,Greece,US,66.884,broken clouds,43.2098,-77.6931,"Homewood Suites by Hilton Rochester/Greece, NY"
54,Jalu,LY,66.272,clear sky,29.0331,21.5482,صاحبة الفخامة

In [54]:
len(clean_hotel_df)

117

In [58]:
# Round temperature to make it look better on displays later on
clean_hotel_df.round(decimals= {'Max Temp': 0})
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
4,Saint George,US,71.0,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
9,Cap Malheureux,MU,73.0,overcast clouds,-19.9842,57.6142,Pereybere Hotel & Spa
28,Vihari,PK,73.0,clear sky,30.0333,72.3500,Al Shafi
36,Cidreira,BR,71.0,heavy intensity rain,-30.1811,-50.2056,Hotel Castelo
41,Santo Antonio De Jesus,BR,73.0,few clouds,-12.9689,-39.2614,5C Hotel - Feito para Você
44,Saint Anthony,US,67.0,clear sky,45.0205,-93.2180,Holiday Inn Express Roseville-St. Paul
48,Gat,IL,72.0,clear sky,31.6100,34.7642,OlusHome
52,Ponta Do Sol,PT,73.0,overcast clouds,32.6667,-17.1000,Hotel do Campo
53,Greece,US,67.0,broken clouds,43.2098,-77.6931,"Homewood Suites by Hilton Rochester/Greece, NY"
54,Jalu,LY,66.0,clear sky,29.0331,21.5482,صاحبة الفخامة

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [59]:
# Set the file name.
output_data_file = "WeatherPY_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label = "City_ID", encoding='utf-8-sig')

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [60]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [61]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Best Western Plus Abbey Inn</dd>\n<dt>City</dt><dd>Saint George</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 71.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pereybere Hotel & Spa</dd>\n<dt>City</dt><dd>Cap Malheureux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Al Shafi</dd>\n<dt>City</dt><dd>Vihari</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>clear sky and 73.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Castelo</dd>\n<dt>City</dt><dd>Cidreira</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 71.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>5C Hotel - Feito para Você</dd>\n<dt>City</dt><dd>Santo Antonio De Jesus</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 73.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Express Roseville-St. Paul</dd>\n<dt>City</dt><dd>Saint Anthony</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 67.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OlusHome</dd>\n<dt>City</dt><dd>Gat</dd>\n<dt>Country</dt><dd>IL</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Homewood Suites by Hilton Rochester/Greece, NY</dd>\n<dt>City</dt><dd>Greece</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 67.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>صاحبة الفخامة</dd>\n<dt>City</dt><dd>Jalu</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Current Weather</dt><dd>clear sky and 66.0 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [62]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

             Lat       Lng
City_ID
4        37.1041 -113.5841
9       -19.9842   57.6142
28       30.0333   72.3500
36      -30.1811  -50.2056
41      -12.9689  -39.2614
44       45.0205  -93.2180
48       31.6100   34.7642
52       32.6667  -17.1000
53       43.2098  -77.6931
54       29.0331   21.5482

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [63]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))